
.play-btn {
  padding: 10px 20px;
  background: black;
  border: 2px solid #00ffea;
  color: #00ffea;
  font-family: monospace;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 0 0 5px #00ffee;
}
.play-btn:hover {
  box-shadow: 0 0 10px #00ffee;
}


.pong-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Center window */
.pong-window {
  background: #050013;
  border: 3px solid #00ffee;
  border-radius: 10px;
  padding: 20px;
  width: 700px;
  text-align: center;
  box-shadow: 0 0 20px #00ffee;
}

.pong-title {
  font-family: monospace;
  color: #00ffee;
  margin-bottom: 10px;
  text-shadow: 0 0 8px #00ffee;
}

.close-btn {
  float: right;
  background: transparent;
  border: none;
  color: #ff00aa;
  font-size: 20px;
  cursor: pointer;
}

#pongCanvas {
  border: 2px solid #00ffee;
  background: #000000;
  margin: 10px 0;
}

.pong-controls button {
  margin: 5px;
  padding: 6px 14px;
  cursor: pointer;
  border: 2px solid #00ffee;
  background: black;
  color: #00ffee;
  font-family: monospace;
}

.pong-controls button:hover {
  background: #001820;
}

.pong-score {
  margin-top: 8px;
  font-family: monospace;
  color: #00ffee;
}
